@page "/counter"
@inherits CounterBase

@inject InjectedCounterStyles iStyles
@inject ModuleCounterStyles mStyles

<h1 class="@Styles.Header">Counter with inherited styles</h1>
<p class="@Styles.Counter">Current count: @currentCount</p>
<button class="btn btn-primary @Styles.Button" @onclick="IncrementCount">Click me</button>

<h1 class="@iStyles.Header">Counter with injected styles</h1>
<p class="@iStyles.Counter">Current count: @currentCount</p>
<button class="btn btn-primary @iStyles.Button" @onclick="IncrementCount">Click me</button>

<h1 class="@mStyles.Header">Counter with styles configured via module</h1>
<p class="@mStyles.Counter">Current count: @currentCount</p>
<button class="btn btn-primary @mStyles.Button" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
