@page "/gradient-loading-indicator"
@inject ICssStyleService Css

<h3>Gradient Loading indicator</h3>

<div class="card @Card">
  <div class="@CardImage @Gradient"></div>
  <div class="card-body">
    <div class="@CardHeader @Gradient"></div>
    <div class="@CardText @Gradient"></div>
    <div class="@CardButton @Gradient"></div>
  </div>
</div>

@code {
    private string Card => Css.GetClassName(new StyleSet { Width = new Types.Size(18, Types.CssUnits.rem) });
    private string CardImage => Css.GetClassName(new StyleSet { Width = 286, Height = 180, MarginBottom = 10 });
    private string CardHeader => Css.GetClassName(new StyleSet { Width = 246, Height = 24, MarginBottom = 10 });
    private string CardText => Css.GetClassName(new StyleSet { Width = 246, Height = 72, MarginBottom = 10 });
    private string CardButton => Css.GetClassName(new StyleSet { Width = 132, Height = 38, MarginBottom = 10 });
    private string Gradient => Css.GetClassName(new StyleSet
    {
        Background = new Sharp.CSS.Types.Background("linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%)"),
        BackgroundSize = new Types.BackgroundSize(1000, new Types.Size(100, Types.CssUnits.percentage)),
        BackgroundPosition = new Types.BackgroundPosition(486, 0),
        Position = "relative",
        AnimationDuration = "2s",
        AnimationFillMode = "forwards",
        AnimationIterationCount = "infinite",
        AnimationName = "placeHolderShimmer",
        AnimationTimingFunction = "linear"
    });
}
