@page "/gradient-loading-indicator"
@inherits GradientLoadingBase

<h3>Gradient Loading indicator</h3>

<div class="card @Styles.Card">
  <div class="@Styles.CardImage @Styles.Gradient"></div>
  <div class="card-body">
    <div class="@Styles.CardHeader @Styles.Gradient"></div>
    <div class="@Styles.CardText @Styles.Gradient"></div>
    <div class="@Styles.CardButton @Styles.Gradient"></div>
  </div>
</div>
